
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration (test, will be replace with steam log-in)</h2>
<form>
    <p>First Name: </p>
    <input type="text"/>
    <p>Last Name: </p>
    <input type="text" />
    <p>Login Name: </p>
    <input type="text" />
    <p>Password: </p>
    <input type="password" />
    <p>Repeat password: </p>
    <input type="password" />
    <p>Email: </p>
    <input type="email" width="800px" />
    <button name="GO"></button>
</form>