body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    box-shadow: 0 10px 10px gray;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#vertival-button-prev {
    position: fixed;
    top: 50%;
    left: 3%;
}

#vertival-button-next {
    position: fixed;
    top: 50%;
    right: 3%;
}

/*  Challenges Index Style  */

h2 
{
    text-align: center;    
}

#challenges-table {
    border-collapse: separate;
    border-spacing: 50px 10px;
    border-color: white;
}

#ch-row {
 
}

.ch-name {
    font-size: 30px;
}

#ch-name-td {
    width: 250px;
}

/*  end  */