
@{
    ViewBag.Title = "Dota Challenge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home (maybe the most played Challenge)</h2>
<p>
    Game of Thrones is an American fantasy drama television series created by David Benioff and D. B. Weiss. It is an adaptation of A Song of Ice and Fire, George R. R. Martin's series of fantasy novels, the first of which is A Game of Thrones. It is filmed in Belfast and elsewhere in the United Kingdom, Canada, Croatia, Iceland, Malta, Morocco, Spain, and the United States. The series premiered on HBO in the United States on April 17, 2011, and its seventh season ended on August 27, 2017. The series will conclude with its eighth season in 2018 or 2019.[1]

    Set on the fictional continents of Westeros and Essos, Game of Thrones has several plot lines and a large ensemble cast but centers on three primary story arcs. The first story arc centers on the Iron Throne of the Seven Kingdoms and follows a web of alliances and conflicts among the dynastic noble families either vying to claim the throne or fighting for independence from the throne. The second story arc focuses on the last descendant of the realm's deposed ruling dynasty, exiled and in hiding while plotting a return to the throne. The third story arc centers on the longstanding brotherhood charged with defending the realm against the ancient threats of the fierce peoples and legendary creatures that lie far north, and an impending winter that threatens the realm.

    Game of Thrones has attracted record viewership on HBO and has a broad, active, international fan base. It has been acclaimed by critics, particularly for its acting, complex characters, story, scope, and production values, although its frequent use of nudity and violence (including sexual violence) has been criticized. The series has received 38 Primetime Emmy Awards, including Outstanding Drama Series in 2015 and 2016, more than any other primetime scripted television series. Its other awards and nominations include three Hugo Awards for Best Dramatic Presentation (2012–2014), a 2011 Peabody Award, and four nominations for the Golden Globe Award for Best Television Series – Drama (2012 and 2015–2017). Of the ensemble cast, Peter Dinklage has won two Primetime Emmy Awards for Outstanding Supporting Actor in a Drama Series (2011 and 2015) and the Golden Globe Award for Best Supporting Actor – Series, Miniseries or Television Film (2012) for his performance as Tyrion Lannister. Lena Headey, Emilia Clarke, Kit Harington, Maisie Williams, Diana Rigg, and Max von Sydow have also received Primetime Emmy Award nominations for their performances in the series.
</p>
<p>
    Setting[edit]
    Main article: World of A Song of Ice and Fire
    Game of Thrones is roughly based on the storylines of A Song of Ice and Fire,[2][3] set in the fictional Seven Kingdoms of Westeros and the continent of Essos. The series chronicles the violent dynastic struggles among the realm's noble families for the Iron Throne, while other families fight for independence from it. It opens with additional threats in the icy North and Essos in the east.[4]

    Showrunner David Benioff jokingly suggested "The Sopranos in Middle-earth" as Game of Thrones' tagline, referring to its intrigue-filled plot and dark tone in a fantasy setting of magic and dragons.[5] In a 2012 study of deaths per episode, it ranked second out of 40 recent U.S. TV drama series (with an average of 14).[6]

    Themes[edit]
    Main article: Themes in A Song of Ice and Fire
    The series is generally praised for what is perceived as a sort of medieval realism.[7][8] George R.R. Martin set out to make the story feel more like historical fiction than contemporary fantasy, with less emphasis on magic and sorcery and more on battles, political intrigue, and the characters, believing that magic should be used moderately in the epic fantasy genre.[9][10][11] Martin has stated that "the true horrors of human history derive not from orcs and Dark Lords, but from ourselves."[12]

    A common theme in the fantasy genre is the battle between good and evil, which Martin says does not mirror the real world.[13] Just like people's capacity for good and for evil in real life, Martin explores the questions of redemption and character change.[14] The show allows the audience to view different characters from their perspective, unlike in many other fantasies, and thus the supposed villains can provide their side of the story.[11][15] Benioff said, "George brought a measure of harsh realism to high fantasy. He introduced gray tones into a black-and-white universe."[11]

    In early seasons, under the influence of the A Song of Ice and Fire books, main characters were regularly killed off, and this was credited with developing tension among viewers.[16] Later seasons, however, critics pointed out that certain characters had developed "plot armor", attributing this to the show's deviating from the books and becoming more of a traditional television series.[16] The series also reflects the substantial death rates in war.[17][18]

    Inspirations and derivations[edit]
    Although the first season closely follows the events of the first novel, later seasons have made significant changes. According to David Benioff, the show is "about adapting the series as a whole and following the map George laid out for us and hitting the major milestones, but not necessarily each of the stops along the way".[19]

    Tom Holland of The Guardian believes that the novels and their adaptations base aspects of their settings, characters, and plot on events in European history.[20] Most of Westeros is reminiscent of high medieval Europe, from lands and cultures,[21] to the palace intrigue, feudal system, castles, and knightly tournaments. A principal inspiration for the novels is the English Wars of the Roses[22] (1455–85) between the houses of Lancaster and York, reflected in Martin's houses of Lannister and Stark. The scheming Cersei Lannister evokes Isabella, the "she-wolf of France" (1295–1358);[20] Isabella and her family (particularly as portrayed in Maurice Druon's historical-novel series, The Accursed Kings) were also a main inspiration for Martin.[23]

    Holland further proposes that other historical antecedents of series elements include Hadrian's Wall (which becomes Martin's Wall), the legend of Atlantis (ancient Valyria), Byzantine Greek fire ("wildfire"), Icelandic sagas of the Viking Age (the Ironborn), the Mongol hordes (the Dothraki), the Hundred Years' War (1337–1453) and the Italian Renaissance (c. 1400–1500).[20] The series' popularity has been attributed, in part, to Martin's skill at fusing these elements into a seamless, credible version of alternate history.[20] Martin acknowledges, "I take [history] and I file off the serial numbers and I turn it up to 11."[24]
</p>
<p>
    Setting[edit]
    Main article: World of A Song of Ice and Fire
    Game of Thrones is roughly based on the storylines of A Song of Ice and Fire,[2][3] set in the fictional Seven Kingdoms of Westeros and the continent of Essos. The series chronicles the violent dynastic struggles among the realm's noble families for the Iron Throne, while other families fight for independence from it. It opens with additional threats in the icy North and Essos in the east.[4]

    Showrunner David Benioff jokingly suggested "The Sopranos in Middle-earth" as Game of Thrones' tagline, referring to its intrigue-filled plot and dark tone in a fantasy setting of magic and dragons.[5] In a 2012 study of deaths per episode, it ranked second out of 40 recent U.S. TV drama series (with an average of 14).[6]

    Themes[edit]
    Main article: Themes in A Song of Ice and Fire
    The series is generally praised for what is perceived as a sort of medieval realism.[7][8] George R.R. Martin set out to make the story feel more like historical fiction than contemporary fantasy, with less emphasis on magic and sorcery and more on battles, political intrigue, and the characters, believing that magic should be used moderately in the epic fantasy genre.[9][10][11] Martin has stated that "the true horrors of human history derive not from orcs and Dark Lords, but from ourselves."[12]

    A common theme in the fantasy genre is the battle between good and evil, which Martin says does not mirror the real world.[13] Just like people's capacity for good and for evil in real life, Martin explores the questions of redemption and character change.[14] The show allows the audience to view different characters from their perspective, unlike in many other fantasies, and thus the supposed villains can provide their side of the story.[11][15] Benioff said, "George brought a measure of harsh realism to high fantasy. He introduced gray tones into a black-and-white universe."[11]

    In early seasons, under the influence of the A Song of Ice and Fire books, main characters were regularly killed off, and this was credited with developing tension among viewers.[16] Later seasons, however, critics pointed out that certain characters had developed "plot armor", attributing this to the show's deviating from the books and becoming more of a traditional television series.[16] The series also reflects the substantial death rates in war.[17][18]

    Inspirations and derivations[edit]
    Although the first season closely follows the events of the first novel, later seasons have made significant changes. According to David Benioff, the show is "about adapting the series as a whole and following the map George laid out for us and hitting the major milestones, but not necessarily each of the stops along the way".[19]

    Tom Holland of The Guardian believes that the novels and their adaptations base aspects of their settings, characters, and plot on events in European history.[20] Most of Westeros is reminiscent of high medieval Europe, from lands and cultures,[21] to the palace intrigue, feudal system, castles, and knightly tournaments. A principal inspiration for the novels is the English Wars of the Roses[22] (1455–85) between the houses of Lancaster and York, reflected in Martin's houses of Lannister and Stark. The scheming Cersei Lannister evokes Isabella, the "she-wolf of France" (1295–1358);[20] Isabella and her family (particularly as portrayed in Maurice Druon's historical-novel series, The Accursed Kings) were also a main inspiration for Martin.[23]

    Holland further proposes that other historical antecedents of series elements include Hadrian's Wall (which becomes Martin's Wall), the legend of Atlantis (ancient Valyria), Byzantine Greek fire ("wildfire"), Icelandic sagas of the Viking Age (the Ironborn), the Mongol hordes (the Dothraki), the Hundred Years' War (1337–1453) and the Italian Renaissance (c. 1400–1500).[20] The series' popularity has been attributed, in part, to Martin's skill at fusing these elements into a seamless, credible version of alternate history.[20] Martin acknowledges, "I take [history] and I file off the serial numbers and I turn it up to 11."[24]
</p>
<p>
    Setting[edit]
    Main article: World of A Song of Ice and Fire
    Game of Thrones is roughly based on the storylines of A Song of Ice and Fire,[2][3] set in the fictional Seven Kingdoms of Westeros and the continent of Essos. The series chronicles the violent dynastic struggles among the realm's noble families for the Iron Throne, while other families fight for independence from it. It opens with additional threats in the icy North and Essos in the east.[4]

    Showrunner David Benioff jokingly suggested "The Sopranos in Middle-earth" as Game of Thrones' tagline, referring to its intrigue-filled plot and dark tone in a fantasy setting of magic and dragons.[5] In a 2012 study of deaths per episode, it ranked second out of 40 recent U.S. TV drama series (with an average of 14).[6]

    Themes[edit]
    Main article: Themes in A Song of Ice and Fire
    The series is generally praised for what is perceived as a sort of medieval realism.[7][8] George R.R. Martin set out to make the story feel more like historical fiction than contemporary fantasy, with less emphasis on magic and sorcery and more on battles, political intrigue, and the characters, believing that magic should be used moderately in the epic fantasy genre.[9][10][11] Martin has stated that "the true horrors of human history derive not from orcs and Dark Lords, but from ourselves."[12]

    A common theme in the fantasy genre is the battle between good and evil, which Martin says does not mirror the real world.[13] Just like people's capacity for good and for evil in real life, Martin explores the questions of redemption and character change.[14] The show allows the audience to view different characters from their perspective, unlike in many other fantasies, and thus the supposed villains can provide their side of the story.[11][15] Benioff said, "George brought a measure of harsh realism to high fantasy. He introduced gray tones into a black-and-white universe."[11]

    In early seasons, under the influence of the A Song of Ice and Fire books, main characters were regularly killed off, and this was credited with developing tension among viewers.[16] Later seasons, however, critics pointed out that certain characters had developed "plot armor", attributing this to the show's deviating from the books and becoming more of a traditional television series.[16] The series also reflects the substantial death rates in war.[17][18]

    Inspirations and derivations[edit]
    Although the first season closely follows the events of the first novel, later seasons have made significant changes. According to David Benioff, the show is "about adapting the series as a whole and following the map George laid out for us and hitting the major milestones, but not necessarily each of the stops along the way".[19]

    Tom Holland of The Guardian believes that the novels and their adaptations base aspects of their settings, characters, and plot on events in European history.[20] Most of Westeros is reminiscent of high medieval Europe, from lands and cultures,[21] to the palace intrigue, feudal system, castles, and knightly tournaments. A principal inspiration for the novels is the English Wars of the Roses[22] (1455–85) between the houses of Lancaster and York, reflected in Martin's houses of Lannister and Stark. The scheming Cersei Lannister evokes Isabella, the "she-wolf of France" (1295–1358);[20] Isabella and her family (particularly as portrayed in Maurice Druon's historical-novel series, The Accursed Kings) were also a main inspiration for Martin.[23]

    Holland further proposes that other historical antecedents of series elements include Hadrian's Wall (which becomes Martin's Wall), the legend of Atlantis (ancient Valyria), Byzantine Greek fire ("wildfire"), Icelandic sagas of the Viking Age (the Ironborn), the Mongol hordes (the Dothraki), the Hundred Years' War (1337–1453) and the Italian Renaissance (c. 1400–1500).[20] The series' popularity has been attributed, in part, to Martin's skill at fusing these elements into a seamless, credible version of alternate history.[20] Martin acknowledges, "I take [history] and I file off the serial numbers and I turn it up to 11."[24]
</p>